<nav>
    <ul>
        <li>
            <a aria-label="Dashboard" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" title="Dashboard">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a aria-label="Messages" routerLink="/messages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" title="Messages">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>Messages</span>
            </a>
        </li>
        <li>
            <a aria-label="Appointments" routerLink="/appointments" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" title="Appointments">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <span>Appointments</span>
            </a>
        </li>
        <li>
            <a aria-label="Prescriptions" routerLink="/prescriptions" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" title="Prescriptions">
                <i class="fa fa-medkit" aria-hidden="true"></i>
                <span>Prescriptions</span>
            </a>
        </li>
    </ul>
</nav>