<nav>
    <ul id="nav-items">
        <li class="notifications">
            <a aria-label="Notifictions" title="Notifications">
                <i class="fa fa-bell" aria-hidden="true"></i>
                <div class="alert"></div>
            </a>
            <div class="notifications-dropdown">
                <ul>
                    <li routerLink="/messages">1 new message received</li>
                </ul>
            </div>
        </li>
        <li class="user">
            <a aria-label="User" title="User">
                Mary Johnson
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <div class="user-dropdown">
                <ul>
                    <li>Settings</li>
                    <li>Logout</li>
                </ul>
            </div>
        </li>
    </ul>
</nav>