<div class="section-container">
    <section>
        <div class="message-tools">
            <input class="search" type="text" placeholder="Search">
            <div class="message-actions">
                <a routerLink="/prescriptions" alt="Filter">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="messages">
            <div class="message-summaries">
                <div class="message-summary active">
                    <div class="message-subject">
                        <p>Patricia Grace</p>
                        <p>4 items</p>
                    </div>
                    <div class="message-snippet">
                        <p class="pending">Pending</p>
                    </div>
                </div>
                <div class="message-summary">
                    <div class="message-subject">
                        <p>Matthew Ryder</p>
                        <p>3 items</p>
                    </div>
                    <div class="message-snippet">
                        <p class="pending">Pending</p>
                    </div>
                </div>
                <div class="message-summary">
                    <div class="message-subject">
                        <p>Nathan Pearson</p>
                        <p>2 items</p>
                    </div>
                    <div class="message-snippet">
                        <p class="dispensing">Dispensing</p>
                    </div>
                </div>
                <div class="message-summary">
                    <div class="message-subject">
                        <p>Donna Barton</p>
                        <p>1 item</p>
                    </div>
                    <div class="message-snippet">
                        <p class="dispensed">Dispensed</p>
                    </div>
                </div>
                <div class="message-summary">
                    <div class="message-subject">
                        <p>Chris James</p>
                        <p>2 items</p>
                    </div>
                    <div class="message-snippet">
                        <p class="dispensed">Dispensed</p>
                    </div>
                </div>
                <div class="message-summary">
                    <div class="message-subject">
                        <p>George Jefferies</p>
                        <p>1 item</p>
                    </div>
                    <div class="message-snippet">
                        <p class="dispensed">Dispensed</p>
                    </div>
                </div>
            </div>
            <div class="message-documents">
                <div class="message-document">
                    <div class="message-state">
                        <strong>Patricia Grace</strong>
                    </div>
                    <div class="message-state">
                        Pending
                    </div>
                </div>
                <div class="message-document">
                    Phone:
                    <br>01234 567890
                </div>
                <div class="message-document">
                    Email:
                    <br>patricia@hotmail.com
                </div>
                <div class="message-document">Address:
                    <br> 1 Greenfield Street, Bristol, BS1 1DE
                </div>
                <div class="message-document">
                    <div class="message-content message-content-description">
                        <span>Item(s)</span>
                    </div>
                    <div class="message-job message-job-quantity">
                        <span>Quantiy</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-content">
                        <span>Flea treatment</span>
                    </div>
                    <div class="message-job">
                        <span>1</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-content">
                        <span>Worm treatment</span>
                    </div>
                    <div class="message-job">
                        <span>1</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-content">
                        <span>Eye treatment</span>
                    </div>
                    <div class="message-job">
                        <span>1</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-content">
                        <span>Skin treatment</span>
                    </div>
                    <div class="message-job">
                        <span>1</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-content">
                        <span>Total</span>
                    </div>
                    <div class="message-job">
                        <span>4</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>