<div class="section-container">
    <section>
        <div class="message-tools">
            <input class="search" type="text" placeholder="Search">
            <div class="message-actions">
                <a routerLink="/messages" alt="Reply">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                </a>
                <a routerLink="/messages" alt="Reply All">
                    <i class="fa fa-reply-all" aria-hidden="true"></i>
                </a>
                <a routerLink="/messages" alt="Forward">
                    <i class="fa fa-share" aria-hidden="true"></i>
                </a>
                <a routerLink="/messages" alt="Flag">
                    <i class="fa fa-flag" aria-hidden="true"></i>
                </a>
                <a routerLink="/messages" alt="Delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
                <a routerLink="/messages" alt="Filter">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="messages">
            <div class="message-summaries">
                <div class="message-summary active">
                    <div class="message-subject">
                        <p>Thomas Emerson</p>
                        <p><i class="fa fa-flag" aria-hidden="true"></i>13:43</p>
                    </div>
                    <div class="message-snippet">
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                    </div>
                </div>
                <div class="message-summary">
                    <div class="message-subject">
                        <p>Sarah Walker</p>
                        <p>Yesterday</p>
                    </div>
                    <div class="message-snippet">
                        <p>Lorem ipsum dolor sit amet elit</p>
                    </div>
                </div>
                <div class="message-summary">
                    <div class="message-subject">
                        <p>Laura Hill</p>
                        <p>28/02/2022</p>
                    </div>
                    <div class="message-snippet">
                        <p>Lorem ipsum dolor sit amet adipiscing</p>
                    </div>
                </div>
                <div class="message-summary">
                    <div class="message-subject">
                        <p>Nicola Summers</p>
                        <p>24/02/2022</p>
                    </div>
                    <div class="message-snippet">
                        <p>Lorem ipsum dolor sit amet adipiscing</p>
                    </div>
                </div>
                <div class="message-summary">
                    <div class="message-subject">
                        <p>Martin Bishop</p>
                        <p>22/02/2022</p>
                    </div>
                    <div class="message-snippet">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="message-documents">
                <div class="message-document">
                    <div class="message-content">
                        <span>Received:</span>
                    </div>
                    <div class="message-job">
                        <span>Today at 13:34</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-content">
                        <span>From:</span>
                    </div>
                    <div class="message-job">
                        <span>Thomas Emerson</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-content">
                        <span>Email:</span>
                    </div>
                    <div class="message-job">
                        <span>thomas@hotmail.com</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-content">
                        <span>Telephone:</span>
                    </div>
                    <div class="message-job">
                        <span>01234 567890</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-content">
                        <span>Subject:</span>
                    </div>
                    <div class="message-job">
                        <span>Lorem ipsum dolor sit amet consectetur</span>
                    </div>
                </div>
                <div class="message-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum dapibus scelerisque. Vivamus pellentesque lorem elit, ut imperdiet mauris finibus a. Integer sed tellus elementum, aliquet orci sit amet, viverra mauris. Sed euismod
                        ornare ipsum, sed lacinia quam. Mauris ultricies semper justo, nec ullamcorper enim auctor ac. Phasellus neque felis, pulvinar sed odio id, ultricies auctor eros. Fusce libero ipsum, gravida a justo eget, tempus fermentum felis.</p>
                </div>
            </div>
        </div>
    </section>
</div>