@import '../../styles/global.scss';
div.section-container {
    flex-direction: column;
    >section {
        flex: 1;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        overflow-y: hidden;
        div.message-tools {
            padding: 10px 20px;
            display: flex;
            cursor: pointer;
            div.messages-title {
                a {
                    i {
                        margin-right: 10px;
                    }
                }
            }
            div.message-actions {
                flex: 1;
                text-align: right;
                span {
                    font-size: 12px;
                }
            }
        }
        div.messages {
            overflow-y: hidden;
            flex: 1;
            display: flex;
            div.message-documents {
                flex: 1;
                padding: 20px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                background: rgba(0, 0, 0, 0.2);
                overflow-y: auto;
                div.message-document {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                    display: flex;
                    padding: 10px;
                    cursor: pointer;
                    div.message-times {
                        min-width: 50px;
                        span {
                            margin: 0;
                        }
                    }
                    div.message-content {
                        flex: 1;
                        max-width: 150px;
                        p {
                            margin: 0;
                        }
                    }
                    div.message-job {
                        i {
                            color: #FF5454;
                        }
                    }
                }
                div.message-document.done {
                    color: #999;
                }
                div.message-document:last-child {
                    border: none;
                }
                div.message-document:hover {
                    background: rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    div.dashboard {
        flex: 1;
        display: flex;
        height: 50%;
        section {
            flex: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            div.message-tools {
                padding: 10px 20px;
                display: flex;
                cursor: pointer;
                div.messages-title {
                    a {
                        i {
                            margin-right: 10px;
                        }
                    }
                }
                div.message-actions {
                    flex: 1;
                    text-align: right;
                    span {
                        font-size: 12px;
                    }
                }
            }
            div.messages {
                overflow-y: auto;
                height: 100%;
                display: flex;
                background: rgba(0, 0, 0, 0.2);
                div.message-summaries {
                    width: 100%;
                    padding: 20px;
                    overflow-y: auto;
                    div.message-summary {
                        border: 1px solid rgba(255, 255, 255, 0);
                        cursor: pointer;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                        padding: 10px;
                        cursor: pointer;
                        div.message-subject,
                        div.message-snippet {
                            overflow: hidden;
                            p {
                                margin: 0;
                            }
                        }
                        div.message-orders {
                            overflow: hidden;
                            height: 20px;
                            display: flex;
                            p {
                                font-weight: 300;
                                margin: 0;
                            }
                            p:first-child {
                                flex: 1
                            }
                            p:last-child {
                                text-align: right;
                                font-size: 12px;
                                i {
                                    margin-right: 5px;
                                }
                            }
                        }
                        div.message-subject {
                            overflow: hidden;
                            display: flex;
                            p {
                                line-height: 24px;
                                flex: 1;
                            }
                            p:last-child {
                                text-align: right;
                                font-size: 12px;
                                i {
                                    margin-right: 5px;
                                }
                            }
                        }
                        div.message-snippet {
                            overflow: hidden;
                            p {
                                line-height: 24px;
                                font-size: 12px;
                            }
                        }
                    }
                    div.message-summary:last-child {
                        border-bottom: none;
                    }
                    div.message-summary:not(.active):hover {
                        background: rgba(0, 0, 0, 0.2);
                    }
                    div.message-summary.active {
                        border: 1px solid rgba(255, 255, 255, .2);
                        cursor: default;
                        div.message-subject {
                            p {
                                font-weight: 300;
                            }
                        }
                    }
                    div.prescription-summary:last-child {
                        border-bottom: none;
                    }
                }
                div.message-documents {
                    flex: 1;
                    background: #fff;
                    padding: 40px;
                    border-bottom-right-radius: 10px;
                    div.message-document {
                        p {
                            color: #999;
                        }
                    }
                }
            }
        }
        section:last-child {
            margin-left: 20px;
        }
    }
}

.done {
    color: #999;
}