<div class="section-container">
    <section>
        <div class="message-tools" routerLink="/appointments">
            <div class="messages-title">
                <a aria-label="Appointments" title="Appointments">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span>Appointments</span>
                </a>
            </div>
            <div class="message-actions">
                <span>6 appointments left today</span>
            </div>
        </div>
        <div class="messages">
            <div class="message-documents">
                <div class="message-document done" routerLink="/appointments">
                    <div class="message-times">
                        <div class="message-times">
                            <span>9:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Alison Boswell</span>
                    </div>
                    <div class="message-job">
                        <span>MOT for her cat</span>
                    </div>
                </div>
                <div class="message-document done" routerLink="/appointments">
                    <div class="message-times">
                        <div class="message-times">
                            <span>10:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Nicky Reed</span>
                    </div>
                    <div class="message-job">
                        <span>Dental work on her dog</span>
                    </div>
                </div>
                <div class="message-document done" routerLink="/appointments">
                    <div class="message-times">
                        <div class="message-times">
                            <span>11:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Michael Jones</span>
                    </div>
                    <div class="message-job">
                        <span>Vaccines for his cat</span>
                    </div>
                </div>
                <div class="message-document" routerLink="/appointments">
                    <div class="message-times">
                        <div class="message-times">
                            <span>12:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Clive Moretimer</span>
                    </div>
                    <div class="message-job">
                        <span>Vaccines for his dog</span>
                    </div>
                </div>
                <div class="message-document" routerLink="/appointments">
                    <div class="message-times">
                        <div class="message-times">
                            <span>13:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Rachel White</span>
                    </div>
                    <div class="message-job">
                        <span>MOT for her cat</span>
                    </div>
                </div>
                <div class="message-document" routerLink="/appointments">
                    <div class="message-times">
                        <div class="message-times">
                            <span>14:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Ben Clifford</span>
                    </div>
                    <div class="message-job">
                        <span>Vaccines for his dog</span>
                    </div>
                </div>
                <div class="message-document" routerLink="/appointments">
                    <div class="message-times">
                        <div class="message-times">
                            <span>15:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Susan Howell</span>
                    </div>
                    <div class="message-job">
                        <span>MOT for her cat</span>
                    </div>
                </div>
                <div class="message-document" routerLink="/appointments">
                    <div class="message-times">
                        <div class="message-times">
                            <span>16:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Ken Hart</span>
                    </div>
                    <div class="message-job">
                        <span>Dental work for his dog</span>
                    </div>
                </div>
                <div class="message-document" routerLink="/appointments">
                    <div class="message-times">
                        <div class="message-times">
                            <span>17:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Frank Smith</span>
                    </div>
                    <div class="message-job">
                        <span>MOT for his dog</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="dashboard">
        <section>
            <div class="message-tools" routerLink="/messages">
                <div class="messages-title">
                    <a aria-label="Messages" title="Messages">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>Messages</span>
                    </a>
                </div>
                <div class="message-actions">
                    <span>5 new messages</span>
                </div>
            </div>
            <div class="messages">
                <div class="message-summaries">
                    <div class="message-summary" routerLink="/messages">
                        <div class="message-subject">
                            <p>Thomas Emerson</p>
                            <p>13:43</p>
                        </div>
                        <div class="message-snippet">
                            <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                    </div>
                    <div class="message-summary" routerLink="/messages">
                        <div class="message-subject">
                            <p>Sarah Walker</p>
                            <p>Yesterday</p>
                        </div>
                        <div class="message-snippet">
                            <p>Lorem ipsum dolor sit amet elit</p>
                        </div>
                    </div>
                    <div class="message-summary" routerLink="/messages">
                        <div class="message-subject">
                            <p>Laura Hill</p>
                            <p>28/02/2022</p>
                        </div>
                        <div class="message-snippet">
                            <p>Lorem ipsum dolor sit amet adipiscing</p>
                        </div>
                    </div>
                    <div class="message-summary" routerLink="/messages">
                        <div class="message-subject">
                            <p>Nicola Summers</p>
                            <p>24/02/2022</p>
                        </div>
                        <div class="message-snippet">
                            <p>Lorem ipsum dolor sit amet adipiscing</p>
                        </div>
                    </div>
                    <div class="message-summary" routerLink="/messages">
                        <div class="message-subject">
                            <p>Martin Bishop</p>
                            <p>22/02/2022</p>
                        </div>
                        <div class="message-snippet">
                            <p>Lorem ipsum dolor sit amet adipiscing</p>
                        </div>
                    </div>
                    <div class="filler-h-20">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="message-tools" routerLink="/prescriptions">
                <div class="messages-title">
                    <a aria-label="Prescriptions" title="Prescriptions">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                        <span>Prescriptions</span>
                    </a>
                </div>
                <div class="message-actions">
                    <span>2 orders pending</span>
                </div>
            </div>
            <div class="messages">
                <div class="message-summaries">
                    <div class="message-summary prescription-summary" routerLink="/prescriptions">
                        <div class="message-subject">
                            <p>Patricia Grace</p>
                            <p>4 items</p>
                        </div>
                    </div>
                    <div class="message-summary prescription-summary" routerLink="/prescriptions">
                        <div class="message-subject">
                            <p>Matthew Ryder</p>
                            <p>3 items</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>