<div class="section-container">
    <section>
        <div class="message-tools">
            <div class="search">
                <a routerLink="/appointments" alt="Previous">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                </a>
                <a routerLink="/appointments" alt="Select year">
                    <span>March 2022</span>
                </a>
                <a routerLink="/appointments" alt="Next">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </a>
            </div>
            <div class="message-actions">
                <a routerLink="/appointments" alt="Filter">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="messages">
            <div class="message-summaries container">
                <div class="calendar-container">
                    <table class="calendar">
                        <thead>
                            <tr>
                                <td>Mon</td>
                                <td>Tue</td>
                                <td>Wed</td>
                                <td>Thu</td>
                                <td>Fri</td>
                                <td>Sat</td>
                                <td>Sun</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="prev-month">29</td>
                                <td class="prev-month">30</td>
                                <td class="prev-month">31</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td class="current-day">18</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>20</td>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                                <td>31</td>
                                <td class="next-month">1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="message-documents">
                <div class="message-document">
                    <div class="message-times">
                        <div class="message-times">
                            <span>9:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Alison Boswell</span>
                    </div>
                    <div class="message-job">
                        <span>MOT for her cat</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-times">
                        <div class="message-times">
                            <span>10:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Nicky Reed</span>
                    </div>
                    <div class="message-job">
                        <span>Dental work on her dog</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-times">
                        <div class="message-times">
                            <span>11:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Michael Jones</span>
                    </div>
                    <div class="message-job">
                        <span>Vaccines for his cat</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-times">
                        <div class="message-times">
                            <span>12:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Clive Moretimer</span>
                    </div>
                    <div class="message-job">
                        <span>Vaccines for his dog</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-times">
                        <div class="message-times">
                            <span>13:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Rachel White</span>
                    </div>
                    <div class="message-job">
                        <span>MOT for her cat</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-times">
                        <div class="message-times">
                            <span>14:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Ben Clifford</span>
                    </div>
                    <div class="message-job">
                        <span>Vaccines for his dog</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-times">
                        <div class="message-times">
                            <span>15:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Susan Howell</span>
                    </div>
                    <div class="message-job">
                        <span>MOT for her cat</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-times">
                        <div class="message-times">
                            <span>16:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Ken Hart</span>
                    </div>
                    <div class="message-job">
                        <span>Dental work for his dog</span>
                    </div>
                </div>
                <div class="message-document">
                    <div class="message-times">
                        <div class="message-times">
                            <span>17:00</span>
                        </div>
                    </div>
                    <div class="message-content">
                        <span>Frank Smith</span>
                    </div>
                    <div class="message-job">
                        <span>MOT for his dog</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>